<template>
  <v-app id="inspire">
    <v-main class="grey lighten-3  mt-4">
      <v-container>
        <v-row class="m-auto justify-center">
          <div class="section">
            <h1>Créer ton voyage</h1>
            <v-form
                id="forms"
                @submit.prevent="handleForm"
            >
              <v-text-field
                  v-model="form.title"
                  label="Titre"
                  required
                  outlined
              ></v-text-field>

              <v-text-field
                  v-model="form.description"
                  label="Description"
                  required
                  outlined
              ></v-text-field>

              <v-file-input
                  label="Photos"
                  prepend-icon="mdi-camera"
                  dense
                  outlined
                  show-size
                  counter
                  v-on:change="handleFileUpload()"
              ></v-file-input>

              <v-checkbox
                  v-model="form.checkbox"
                  label="Public"
                  required
              ></v-checkbox>

              <v-btn
                  type="submit"
                  color="success"
                  class="mr-4"
              >
                Créer
              </v-btn>
            </v-form>
          </div>
        </v-row>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import TravelService from '../services/travel.service';

export default {
  name: "CreateTravel",
  data: () => ({
    form: {'title': '', 'description': '', 'img': '', 'checkbox': false},
    valid: true,
  }),
  methods: {
    validate() {
      this.$refs.form.validate()
    },
    handleForm() {
      if (this.form.title && this.form.description) {

        TravelService.setTravel(this.form).then(
            response => {
              console.log(response)
              alert('Le voyage a bien été ajouté')
              this.$router.push('/travels');
            },
            error => {
              console.log(error)
            }
        );

      }
    },
    handleFileUpload() {
      this.form.img = this.$refs.file.files[0];
    }
  }
}
</script>

<style scoped>
#forms {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 2em;
  justify-content: center;
}

.section {
  text-align: center;
  margin-bottom: 2em;
}
</style>
