<template>
  <section class="section-container">
    <v-row class="signin">
      <v-col cols="8" class="left">
        <h1>Bienvenue</h1>
      </v-col>
      <v-col cols="4" class="right">
        <h2>Inscription</h2>
        <validation-observer ref="observer">
          <v-form @submit.prevent="handleRegister">
            <validation-provider v-slot="{ errors }" name="L'email" rules="required|email">
              <v-text-field
                  v-model="form.username"
                  :error-messages="errors"
                  label="Email"
                  required
                  outlined
                  dark
                  filled
                  dense
              ></v-text-field>
            </validation-provider>

            <validation-provider v-slot="{ errors }" name="Le mot de passe" rules="required">
              <v-text-field
                  v-model="form.password"
                  :error-messages="errors"
                  label="Mot de passe"
                  :append-icon="showPass ? 'mdi-eye' : 'mdi-eye-off'"
                  @click:append="showPass = !showPass"
                  required
                  outlined
                  dense
                  dark
                  filled
                  :type="showPass ? 'text' : 'password'"
              ></v-text-field>
            </validation-provider>


            <div class="text-center">
              <v-btn class="signin-btn" type="submit" rounded color="white" dark>
                S'inscrire
              </v-btn>
            </div>
          </v-form>
        </validation-observer>
      </v-col>
    </v-row>
  </section>
</template>

<script>

import { required, email } from 'vee-validate/dist/rules'
import { extend, ValidationProvider, setInteractionMode, ValidationObserver } from 'vee-validate'

setInteractionMode('eager')

extend('required', {
  ...required,
  message: '{_field_} est requis'
})

extend('email', {
  ...email,
  message: 'Veuilez saisir un email valide'
})

export default {
  name: 'Register',
  components: {
    ValidationProvider,
    ValidationObserver
  },
  data() {
    return {
      form: {'username': '', 'password': '', 'rememberMe': false},
      loading: false,
      successful: false,
      showPass: false
    };
  },
  computed: {
    loggedIn() {
      return this.$store.state.auth.status.loggedIn;
    }
  },
  created() {
    if (this.loggedIn) {
      this.$router.push('/');
    }
  },
  methods: {
    handleRegister() {
      if (this.form.username && this.form.password) {
        this.$store.dispatch('auth/register', this.user).then(
            data => {
              this.message = data.message;
              this.successful = true;
            },
            error => {
              this.message =
                  (error.response && error.response.data) ||
                  error.message ||
                  error.toString();
              this.successful = false;
            }
        );
      }
    }
  }
};
</script>

<style scoped>

</style>