<template>
  <v-app id="inspire">
    <v-main class="grey lighten-3  mt-4">
      <v-container>
        <v-row>
          <v-col>
            <v-card>
              <v-img
                  height="250"
                  src="https://cdn.vuetifyjs.com/images/cards/cooking.png"
              ></v-img>

              <v-container>
                <v-row>
                  <v-col>
                    <h1>{{ travel.name }}</h1>
                  </v-col>
                </v-row>

                <v-row>
                  <v-col>
                    <v-card-text class="py-0">
                      Contenu, Gallerie etc
                    </v-card-text>
                  </v-col>
                </v-row>

                <v-row>
                  <v-col>
                    <v-card-subtitle class="py-0">
                      11/03/2021
                    </v-card-subtitle>
                  </v-col>
                </v-row>

                <v-row>
                  <v-col>
                    <v-dialog
                        transition="dialog-top-transition"
                        max-width="600"
                    >
                      <template v-slot:activator="{ on, attrs }">
                        <v-btn
                            color="primary"
                            v-bind="attrs"
                            v-on="on"
                        >Partager un lien privé
                        </v-btn>
                      </template>
                      <template v-slot:default="dialog">
                        <v-card>
                          <v-toolbar
                              color="primary"
                              dark
                          >Partage ton voyage à tes amis
                          </v-toolbar>
                          <v-card-text>
                            <div class="text-h3 pa-12">http://localhost:8080/travel</div>
                          </v-card-text>
                          <v-card-actions class="justify-end">
                            <v-btn
                                text
                                @click="dialog.value = false"
                            >Close
                            </v-btn>
                          </v-card-actions>
                        </v-card>
                      </template>
                    </v-dialog>
                  </v-col>
                </v-row>

              </v-container>
            </v-card>
          </v-col>

          <v-col>
            <v-card>
              <v-container>
                <h3>Informations</h3>
                <v-card-actions class="pa-4">
                  Noter ce voyage
                  <v-spacer></v-spacer>
                  <span class="grey--text text--lighten-2 caption mr-2">
          ({{ rating }})
        </span>
                  <v-rating
                      v-model="rating"
                      background-color="white"
                      color="yellow accent-4"
                      dense
                      half-increments
                      hover
                      size="18"
                  ></v-rating>
                </v-card-actions>
                <v-row class="pa-4">
                  <v-textarea
                      class="mx-2"
                      label="Commenter"
                      rows="1"
                      prepend-icon="mdi-comment"
                  ></v-textarea>
                </v-row>

                <div class="text-center">
                  <v-btn class="signin-btn" type="submit" rounded color="primary">
                    Contacter
                  </v-btn>
                </div>
              </v-container>
            </v-card>
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <v-sheet
                min-height="70vh"
                rounded="lg"
            >
              <v-row>
                <v-col
                    v-for="n in 9"
                    :key="n"
                    class="d-flex child-flex"
                    cols="4"
                >
                  <v-img
                      :src="`https://picsum.photos/500/300?image=${n * 5 + 10}`"
                      :lazy-src="`https://picsum.photos/10/6?image=${n * 5 + 10}`"
                      aspect-ratio="1"
                      class="grey lighten-2"
                  >
                    <template v-slot:placeholder>
                      <v-row
                          class="fill-height ma-0"
                          align="center"
                          justify="center"
                      >
                        <v-progress-circular
                            indeterminate
                            color="grey lighten-5"
                        ></v-progress-circular>
                      </v-row>
                    </template>
                  </v-img>
                </v-col>
              </v-row>
            </v-sheet>
          </v-col>
        </v-row>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
export default {
  name: "Travel",
  data: () => ({
    travel: {id: 1, name: 'Mon voyage', description: 'Une description'},
    rating: 4.3
  }),
}
</script>

<style scoped>

</style>
