<template>

  <v-app id="inspire">
    <v-main class="grey lighten-3  mt-4">
      <v-container>
        <v-row>
          <v-col>
            <h1>Voyages</h1>
          </v-col>
        </v-row>

        <v-row>
          <v-col>
            <v-card
                class="mx-auto my-12"
                max-width="374"
            >
              <v-img
                  height="250"
                  src="/img/luca-bravo-zAjdgNXsMeg-unsplash.jpg"
              ></v-img>

              <v-card-title>Voyage sur Mars</v-card-title>

              <v-card-text>
                <div>Un voyage banal sur Mars</div>
              </v-card-text>

              <v-divider class="mx-4"></v-divider>

              <v-card-actions>
                <v-btn
                    color="deep-purple lighten-2"
                    text
                    @click="goToTravelPage(1)"
                  >
                  Voir
                </v-btn>
              </v-card-actions>

            </v-card>
          </v-col>

          <v-col v-for="travel in travels" :key="travel.id">
            <v-card
                class="mx-auto my-12"
                max-width="374"
            >
              <v-img
                  height="250"
                  src="https://cdn.vuetifyjs.com/images/cards/cooking.png"
              ></v-img>

              <v-card-title>{{ travel.name }}</v-card-title>

              <v-card-text>
                <div>{{ travel.description }}</div>
              </v-card-text>

              <v-divider class="mx-4"></v-divider>

              <v-card-actions>
                <v-btn
                    color="deep-purple lighten-2"
                    text
                    @click="goToTravelPage(travel.id)"
                >
                  Voir
                </v-btn>
              </v-card-actions>

            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import TravelService from '../services/travel.service';

export default {
  name: "Travels",
  data() {
    return {
      travels: []
    };
  },
  mounted() {
    TravelService.getAll().then(
        response => {
          console.log(response)
          this.travels = response.data['hydra:member'];
        },
        error => {
          this.travels =
              (error.response && error.response.data) ||
              error.message ||
              error.toString();
        }
    );
  },
  methods: {

    goToTravelPage(id) {
      this.$router.push({name: 'travel', params: {id: id}});
    }
  }
}
</script>

<style scoped>

</style>
