<template>
  <v-app id="inspire">
    <v-main class="grey lighten-3  mt-4">
      <v-container class="m-auto justify-center">
        <v-row class="m-auto justify-center">
          <div class="section">
            <h1>Modifie ton voyage</h1>
            <v-form
                ref="form"
                v-model="valid"
                lazy-validation
                id="forms"
            >
              <v-text-field
                  v-model="value"
                  label="Titre"
                  outlined
              ></v-text-field>

              <v-text-field
                  v-model="value"
                  label="Description"
                  outlined
              ></v-text-field>

              <v-file-input
                  label="Photos"
                  prepend-icon="mdi-camera"
                  dense
                  outlined
                  show-size
                  counter
                  multiple
              ></v-file-input>

              <v-checkbox
                  v-model="checkbox"
                  label="Public"
                  required
              ></v-checkbox>

              <v-btn
                  :disabled="!valid"
                  color="success"
                  class="mr-4"
                  @click="validate"
              >
                Modifier
              </v-btn>
            </v-form>
          </div>
        </v-row>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
export default {
  name: "UpdateTravel",
  data: () => ({
    valid: true,
  }),
  methods: {
    validate() {
      this.$refs.form.validate()
    },
    goToTravelsPage() {
      this.$router.push({name: 'travels'});
    },
    goToCreateTravelsPage() {
      this.$router.push({name: 'uploadtravel'});
    },
    goToUpdateTravelsPage() {
      this.$router.push({name: 'edittravel'});
    }
  }
}
</script>

<style scoped>
#forms {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 2em;
  justify-content: center;
}

.section {
  text-align: center;
  margin-bottom: 2em;
}
</style>
